name: CI

on:
  push:
    branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
  workflow_dispatch:

jobs:
    job_id:
      permissions:
        contents: 'read'
      
      runs-on: ubuntu-latest

      steps:
      - uses: 'actions/checkout@v3'
  
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'
    
      - id: 'list'
        name: 'List buckets'
        run: echo buckets=$(gcloud storage buckets list --filter=name=${{ vars.GCS_BUCKET_NAME }} 2>&1) >> $GITHUB_OUTPUT

      - name: "Check if bucket exists"
        run: echo "${{ steps.list.outputs.buckets }}"

    #   - id: 'upload-file'
    #     uses: 'google-github-actions/upload-cloud-storage@v1'
    #     with:
    #       path: 'src/resume/resume.json'
    #       destination: '${{ vars.GCS_BUCKET_NAME }}/resume.json'
