name: CI

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
    job_id:
      runs-on: ubuntu-latest

      steps:
      - uses: 'actions/checkout@v3'
  
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - id: 'setup'
        name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'
    
      - id: 'list'
        name: 'List buckets'
        run: echo buckets=$(gcloud storage buckets list --filter=name=${{ vars.GCS_BUCKET_NAME }} 2>&1) >> $GITHUB_OUTPUT

      - id: 'bucket'
        name: "Create a Cloud Storage Bucket"
        run: gcloud storage buckets create gs://${{ vars.GCS_BUCKET_NAME }}
        if: ${{ steps.list.outputs.buckets == 'Listed 0 items.' }}
        
      - id: 'updload'
        name: "Upload file to the bucket"
        run: gsutil cp src/resume/resume.json gs://${{ vars.GCS_BUCKET_NAME }}/${{ vars.GCS_FILE_NAME }}

      - id: 'function'
        name: "Create Cloud function"
        run: gcloud functions deploy ${{ vars.CLOUD_FUNCTION_NAME }} --gen2 --region=${{ vars.REGION }} --runtime=python311 --source=src/cf_code --entry-point=get_blob --trigger-http --set-env-vars BUCKET=${{ vars.GCS_BUCKET_NAME }},FILE=${{ vars.GCS_FILE_NAME }}

      - id: 'print'
        name: "Print command to execute the function"
        run: |
          echo "curl -m 70 -X GET `gcloud functions describe ${{ vars.CLOUD_FUNCTION_NAME }} --format=\"get('url')\"` -H \"Authorization: bearer \$(gcloud auth print-identity-token)\""